/* Document containing CSS code for button practice, 
to be loaded in via <link> in buttons4.html */

.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 12px;
  transition: opacity 0.2s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.65;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  background-color: white;
  color: rgb(6, 95, 212);
  border-color: rgb(6, 95, 212);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-right: 12px;
  cursor: pointer;
  transition: background-color 0.2s,
    color 0.2s;
  vertical-align: top;
}

.join-button:hover {
  background-color: rgb(6, 95, 212);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}