/* Document for file youtube.html to be <link> into */

/* CSS Shortcuts
   padding: top right bottom left (like a clock starting at 12) 
   margin: top right bottom left (same as  above)
   border: width style color - (eg border: 1px solid rgb (0, 0, 0); ) */

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(224, 224, 224);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;

}

.hamburger-menu {
  height: 25px;
  margin-left: 24px;
  margin-right:24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  display: flex;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
  
}

.search-bar {
  font-size: 16px;
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(213, 213, 213);
  border-radius: 1px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  margin-right: 0px;
  flex: 1;
  max-width: 350px;
  margin-left: 15px;
  margin-right: 0px;
  width: 0px;
  z-index: 99;
}

.search-bar::placeholder {
  font-family: Roboto;
}

.search-icon {
  height: 25px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notification-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-button {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  width: 66px;
  padding-bottom: 6.5px;
  padding-top: 6.5px;
  background-color: rgb(241, 241, 241);
  margin-left: -1px;
  cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notification-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  font-size: 12px;
  padding: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  bottom: -50px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;
}

.voice-search {
  height: 25px;
}

.voice-search-button {
  border: none;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgb(241, 241, 241);
  margin-left: 10px;
  cursor: pointer;
}

.right-section {
  width: 180px;
  margin-left: 15px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.upload-icon,
.apps-icon,
.notif-icon
{
  height: 25px;
}

.notification-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  top: 0px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  border-radius: 20px;
  padding-left:5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}


.profile-icon{
  height: 32px;
  border-radius: 20px;
  cursor: pointer;
}
