/* Document containing CSS code to be linked to Exercise8a-8c.html */

.name,
.email {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  width: 150px;
  border-color: rgb(84, 83, 83);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.survey-text {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.yes-btn,
.no-btn {
  font-size: 15px;
  border-style: solid;
  border-color: rgb(146, 145, 145);
  background-color: rgb(237, 234, 234);
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.yes-btn:hover,
.no-btn:hover {
  opacity: 0.75;
}

.yes-btn:active,
.no-btn:active {
  opacity: 0.45;
}

.logo {
  display: block;
  width: 300px;
  margin-left: 15%
}

.google-search {
  display: block;
  width: 600px;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  border-radius: 25px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.first-name,
.last-name {
  margin-bottom: 5px;
  margin-right: 3px;
  font-size: 18px;
  width: 150px;
  border-color: rgb(180, 179, 179);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px
}

.email8d {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  width: 320px;
  border-color: rgb(180, 179, 179);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px
}

.signup-btn {
  width: 335px;
  background-color: rgb(10, 123, 222);
  color: white;
  font-size: large;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color:rgb(10, 123, 222);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.signup-btn:active {
  color: rgb(10, 123, 222);
  background-color: white;
}

.uber-title {
  font-size: xx-large;
  font-family: blinker;
  margin-bottom: 20px;
}

.pickup-loc,
.dest-loc {
  display: block;
  background-color: rgb(242, 242, 239);
  color:rgb(140, 140, 138);
  border: none;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  width: 300px;
}

.request-btn {
  margin-top: 25px;
  font-size:14px;
  border-width: 1px;
  background-color: black;
  color: white;
  border: solid;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.request-btn:active {
  background-color: white;
  color: black;
}

.schedule-btn {
  margin-top: 25px;
  font-size:14px;
  border: none;
  background-color: rgb(242, 242, 239);
  color: black;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.schedule-btn:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}