/* Document of CSS code to be <link> into file Exercise6e.html */

p {
  font-style: Arial;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
}

.new {
  font-size: 14px;
  color: orange;
}

.macbook {
  font-size: 20px;
  font-weight: bold;
}

.desc {
  font-size: 34px;
  font-weight: bold;
}

.price {
  font-size: 18px;
  margin-bottom: 15px;
}

.buy-button {
  background-color: rgb(6, 154, 239);
  color: white;
  border: none;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
}